@import "../mixins";
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

header {
  position: relative;
}

#nav {
  @include flex(row, nowrap, space-around, center, center);
  height: 20vh;
  width: 100vw;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(33, 0, 30, 1) 100%);

  .nav-link {
    flex: 0 1 30vw;
  }

  #logo {
    height: 100%;

    a {
      @include flex(row, nowrap, center, center, center);
      height: 100%;
    }

    #logo-icon {
      height: 18vh;
      z-index: 5;

      .cls-1 {
        fill: #020202;
      }

      .cls-1,
      .cls-4,
      .cls-6 {
        stroke: #fff;
      }

      .cls-1,
      .cls-2,
      .cls-4,
      .cls-5,
      .cls-6 {
        stroke-miterlimit: 10;
      }

      .cls-2,
      .cls-3,
      .cls-5 {
        fill: #fff;
      }

      .cls-2 {
        stroke: #1d1d1b;
      }

      .cls-5 {
        stroke: #000;
      }

      .cls-6 {
        fill: none;
      }
    }
  }

  ul {
    @include flex(row, nowrap, space-between, center, center);
    @include no-decoration-ul(none);
    padding-left: 0;

    a {
      @include no-decoration(none);
      color: #aaaaaa;

      &:visited {
        color: #aaaaaa;
      }
    }

    li {
      @include flex(column, nowrap, space-between, center, center);
    }

    .space-icons {
      height: 10vh;
    }

    #space-suit-icon {
      .cls-1 {
        fill: #b7b7b7;
      }

      .cls-1,
      .cls-2,
      .cls-3,
      .cls-4 {
        stroke: #1d1d1b;
        stroke-miterlimit: 10;
        stroke-width: 2px;
      }

      .cls-2 {
        fill: #fff;
      }

      .cls-3 {
        fill: none;
      }

      .cls-4 {
        fill: #e52421;
      }

      .cls-5 {
        fill: #1d1d1b;
      }
    }

    #space-ship-icon {
      .cls-1 {
        fill: #ffe351;
        stroke: #1d1d1b;
      }

      .cls-1,
      .cls-2,
      .cls-3 {
        stroke-miterlimit: 10;
        stroke-width: 2px;
      }

      .cls-2 {
        fill: #c7e1c6;
      }

      .cls-2,
      .cls-3 {
        stroke: #000;
      }

      .cls-3 {
        fill: none;
      }

      .cls-4 {
        fill: #fff;
      }
    }

    #space-gallery-icon {
      .cls-1 {
        fill: #fff;
        stroke: #000;
        stroke-miterlimit: 10;
        stroke-width: 7px;
      }

      .cls-2 {
        fill: #1d1d1b;
      }

      .cls-3 {
        fill: #646464;
      }

      .cls-4 {
        fill: #ffe351;
      }
    }

    #space-contact-icon {
      .cls-1 {
        fill: #fff;
      }

      .cls-1,
      .cls-2 {
        stroke: #000;
        stroke-miterlimit: 10;
        stroke-width: 3px;
      }

      .cls-2 {
        fill: none;
      }
    }
  }
}

// style and behaviour af the hamdurger menu button

#hamburger {
  padding-right: 3vw;
  display: none;
}

#nav-icon-hamburger {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 50px auto;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon-hamburger span {
  display: block;
  position: absolute;
  height: 9px;
  width: 50%;
  background: $btn-bc;
  opacity: 1;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

#nav-icon-hamburger span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon-hamburger span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}

#nnav-icon-hamburger span:nth-child(1),
#nav-icon-hamburger span:nth-child(2) {
  top: 0px;
}

#nav-icon-hamburger span:nth-child(3),
#nav-icon-hamburger span:nth-child(4) {
  top: 18px;
}

#nav-icon-hamburger span:nth-child(5),
#nav-icon-hamburger span:nth-child(6) {
  top: 36px;
}

#nav-icon-hamburger.open span:nth-child(1),
#nav-icon-hamburger.open span:nth-child(6) {
  transform: rotate(45deg);
}

#nav-icon-hamburger.open span:nth-child(2),
#nav-icon-hamburger.open span:nth-child(5) {
  transform: rotate(-45deg);
}

#nav-icon-hamburger.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

#nav-icon-hamburger.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

#nav-icon-hamburger.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon-hamburger.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon-hamburger.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

#nav-icon-hamburger.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}

main {
  background: url("../assets/background-1.png");
  width: 100vw;
}

.desccontainer {
  width: 100vw;
  height: auto;
}

#maintext {
  color: #fff3b8;
  font-size: 2.5vw;
  padding-top: 5vw;
  padding-bottom: 5vw;
  text-align: center;
  box-sizing: border-box;
  margin: 0;

  h1 {
    margin: 0;
  }
}

#desc {
  color: #ffeedd;
  font-size: 1.5vw;
  text-align: center;
}

.container {
  width: 100vw;
  height: auto;
}

.contentcontainer {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  margin-top: 20vw;
  position: relative;
}

.content {
  width: 40vw;
  margin: 5vw;
  position: relative;
  padding-bottom: 5vw;
  @include flex(row, wrap, flex-start, center, center);
}

#erik {
  position: absolute;
  width: 25vw;
  left: 45%;
  cls-1 {
    fill: #b7b7b7;
  }
  .cls-1,
  .cls-2,
  .cls-3,
  .cls-4 {
    stroke: #1d1d1b;
  }
  .cls-1,
  .cls-2,
  .cls-3,
  .cls-4,
  .cls-6 {
    stroke-miterlimit: 10;
    stroke-width: 2px;
  }
  .cls-2,
  .cls-6 {
    fill: #fff;
  }
  .cls-3 {
    fill: none;
  }
  .cls-4 {
    fill: #e52421;
  }
  .cls-5 {
    fill: #1d1d1b;
  }
  .cls-6 {
    stroke: #feeddd;
  }
}

#homepagesuit {
  width: 15vw;
  position: absolute;
  top: 2vw;
  right: 10%;
  animation: Levitation 7s infinite ease-in-out;
  .cls-1 {
    fill: #7f7f80;
  }
  .cls-2 {
    fill: #f8f7f7;
  }
  .cls-3 {
    fill: #efefef;
  }
  .cls-4 {
    fill: #c2c1c1;
  }
  .cls-5 {
    fill: #a45137;
  }
  .cls-6 {
    fill: #cfcccc;
  }
  .cls-7 {
    fill: #442219;
  }
  .cls-8 {
    fill: #294b9b;
  }
  .cls-9 {
    fill: #555454;
  }
  .cls-10 {
    fill: #fbf6e7;
  }
  .cls-11 {
    fill: #444;
  }
  .cls-12 {
    fill: #bab6ae;
  }
  .cls-13 {
    fill: #774026;
  }
  .cls-14 {
    fill: #eaeaea;
  }
  .cls-15 {
    fill: #515151;
  }
  .cls-16 {
    fill: #d31216;
  }
  .cls-17,
  .cls-18,
  .cls-21,
  .cls-24,
  .cls-25 {
    fill: none;
  }
  .cls-17 {
    stroke: #7f7f80;
  }
  .cls-17,
  .cls-18,
  .cls-24,
  .cls-25 {
    stroke-miterlimit: 10;
  }
  .cls-18 {
    stroke: #cfcccc;
  }
  .cls-19 {
    fill: #9b1915;
  }
  .cls-20 {
    fill: #d1d0d1;
  }
  .cls-22 {
    fill: #706f6f;
  }
  .cls-23 {
    fill: #4d4b4c;
  }
  .cls-24 {
    stroke: #000;
  }
  .cls-25 {
    stroke: #888989;
    stroke-width: 0.5px;
  }
}

.info {
  justify-content: end;
  align-content: flex-end;
  display: flex;
  padding: 5vh;
  color: white;
  width: 20vw;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.inforight {
  justify-content: end;
  align-content: flex-end;
  display: flex;
  padding-top: 5vh;
  padding-left: 20vh;
  color: white;
  width: 20vw;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#rocket {
  position: absolute;
  top: 2vw;
  width: 3vw;
  .cls-1,
  .cls-2,
  .cls-9 {
    fill: none;
  }
  .cls-1 {
    stroke: #d1b186;
  }
  .cls-1,
  .cls-2,
  .cls-3,
  .cls-9 {
    stroke-miterlimit: 10;
  }
  .cls-2 {
    stroke: #1d1d1b;
  }
  .cls-3 {
    fill: #b8b5a7;
    stroke: #504f4e;
  }
  .cls-4 {
    fill: #1d1d1b;
  }
  .cls-5 {
    fill: #58637c;
  }
  .cls-6 {
    fill: #a19d9a;
  }
  .cls-7 {
    fill: #bdbabd;
  }
  .cls-8 {
    fill: #b5aca0;
  }
  .cls-9 {
    stroke: #873e1e;
    stroke-width: 0.75px;
  }
  .cls-10 {
    fill: #cbbdab;
  }
  .cls-11 {
    fill: #e6d2a3;
  }
  .cls-12 {
    fill: #919199;
  }
  .cls-13 {
    fill: #3e3e3d;
  }
  .cls-14 {
    fill: #987f6b;
  }
  .cls-15 {
    fill: #a8a599;
  }
  .cls-16 {
    fill: #d1b186;
  }
  .cls-17 {
    fill: #989491;
  }
  .cls-18 {
    fill: #a9a5a2;
  }
  .cls-19 {
    fill: #4a5368;
  }
  .cls-20 {
    fill: #fff;
  }
  .cls-21 {
    fill: #58627b;
  }
  .cls-22 {
    fill: #bcad87;
  }
  .cls-23 {
    fill: #2b2827;
  }
  .cls-24 {
    fill: #615144;
  }
  .cls-25 {
    fill: #2b2b2a;
  }
  .cls-26 {
    fill: #e0e0e0;
  }
  .cls-27 {
    fill: #474746;
  }
  .cls-28 {
    fill: #c9caca;
  }
  .cls-29 {
    fill: #aca8a5;
  }
  .cls-30 {
    fill: #bfb5a9;
  }
  .cls-31 {
    fill: #bfbbad;
  }
}

#fire {
  position: absolute;
  width: 3vw;
  top: 19vw;
  animation: Levitation 0.001s infinite ease-in-out;
  .cls-1 {
    fill: #ff600b;
  }
  .cls-2 {
    fill: #ff600b;
  }
  .cls-3 {
    fill: #ff600b;
  }
  .cls-4 {
    fill: #ff600b;
  }
  .cls-5 {
    fill: #ff600b;
  }
}

#firetwo {
  position: absolute;
  top: 19vw;
  width: 3vw;
  .cls-1 {
    fill: #ff600b;
  }
  .cls-2 {
    fill: #ffde63;
  }
  .cls-3 {
    fill: #fffae1;
  }
  .cls-4 {
    fill: #ffdf7b;
  }
  .cls-5 {
    fill: #ffe6a1;
  }
}

@keyframes Levitation {
  0% {
    transform: translateY(0vw);
  }
  50% {
    transform: translateY(1vw);
  }
  100% {
    transform: translateY(0vw);
  }
}

a {
  color: white;
}

// Footer style strats here

footer {
  background: $footer-bc;
  width: 100vw;
  z-index: 0;
  position: relative;
  color: $primary;
  text-align: center;
  border-top: solid 2px #fff3b8;
  padding-bottom: 2vw;

  a {
    text-decoration: none;

    &:visited,
    &:active {
      color: $primary;
    }
    .instagaram-button {
      background-color: $secondary;
      height: 6vw;
      padding: 2vw;
      box-sizing: border-box;
    }
    h4 {
      margin: 0;
      font-size: 2vw;
      padding: 0;
    }
  }

  section {
    @include flex(row, nowrap, space-around, center, center);
    font-weight: 200;
    font-size: 1.5vw;

    img {
      height: 7vw;
      position: absolute;
      top: 8vw;
    }

    .footer-section-2 {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-grow: 2;

      p {
        margin: 1vw;
      }
    }

    ul {
      @include flex(column, nowrap, center, center, center);
      list-style-type: none;
      margin-right: 8vw;
      flex-grow: 1;

      li {
        margin-top: 2vw;
      }
    }

    .footer-section-5 {
      flex-grow: 2;
      @include flex(row, nowrap, center, center, center);

      form {
        width: 80%;
      }

      input[type="text"],
      input[type="email"],
      textarea {
        width: 80%;
        resize: vertical;
        box-sizing: border-box;
        padding: 5px 10px;
        border: 1px solid $secondary;
        border-radius: 1vw;
        margin: 5px 1px 3px 0px;
        outline: none;
        background-color: transparent;
        color: $primary;
      }

      input[type="text"]:focus,
      input[type="email"]:focus,
      textarea:focus {
        box-shadow: 0 0 2px $contact-bc;
        padding: 5px 0px 5px 5px;
        margin: 5px 1px 3px 0px;
        border: 2px solid $contact-bc;
      }
    }
  }
  .footer-section-6 {
    p {
      text-align: right;
      padding-right: 3vw;
      font-size: 1.5vw;
    }
  }
}

@media screen and (max-width: 960px) {
  #desc {
    padding: 0 10%;
    width: 100%;
    box-sizing: border-box;
  }

  #erik {
    width: 33vw;
  }

  .contentcontainer {
    padding-bottom: 5vw;
    padding-top: 10vw;
  }

  .content {
    width: 90vw;
    margin: 0 auto;
  }

  .info,
  .inforight {
    width: 70%;
  }

  .inforight {
    padding-left: 18vw;
  }
  #homepagesuit {
    padding-top: 2vw;
  }
  #rocket,
  #fire,
  #firetwo {
    padding-left: 10vw;
  }
}

@media screen and (max-width: 760px) {
  #nav {
    height: 15vh;
    justify-content: space-between;

    #logo {
      order: -1;
      width: 20vw;

      #logo-icon {
        height: 80%;
      }
    }

    #nav-link-one {
      // height: 200px;
      // position: absolute;
      padding: calc(15vh + 3rem) 0 1rem 0;
      height: calc(250px + 15vh);
      box-sizing: border-box;
      transition: 0.5s ease-in-out;
      // top: 0;
      // left:0;
    }

    #nav-link-two {
      // height: 200px;
      padding: 1rem 0 2rem 0;
      height: 250px;
      position: absolute;
      top: calc(250px + 15vh);
      box-sizing: border-box;
      transition: 0.5s ease-in-out;
    }

    ul {
      @include flex(column, nowrap, space-around, center, center);
      position: absolute;
      left: -20vw;
      top: 0;
      width: 20vw;
      margin: 0;
      background-color: #d6a1a144;
      transition: 0.5s ease-in-out;
      z-index: 3;

      .space-icons {
        height: 4rem;
      }
    }
  }
  a {
    li {
      span {
        display: none;
      }
    }
  }

  #hamburger {
    display: block;
  }

  .move-right {
    transform: translateX(20vw);
  }

  #desc {
    font-size: 2.3vw;
    padding: 0 10%;
  }

  #maintext {
    font-size: 2.5vw;
  }
  .contentcontainer {
    margin-top: 30vw;
  }

  #erik {
    width: 39vw;
  }

  #homepagesuit {
    padding-top: 5vw;
  }
  #rocket,
  #fire,
  #firetwo {
    padding-left: 12vw;
    padding-top: 3vw;
  }

  footer {
  section {
    ul {
      font-size: 1.8vw;
    }

    .footer-section-2 {
      display: none;
    }
    .footer-section-3 {
      margin-left: 10vw;
    }
  }
}
}



@media screen and (max-width: 660px) {
  #desc {
    font-size: 2.5vw;
    padding: 0 10%;
  }
  #maintext {
    font-size: 2.8vw;
  }

  #erik {
    width: 42vw;
  }

  #homepagesuit {
    padding-top: 5vw;
    width: 20vw;
  }
  #rocket,
  #fire,
  #firetwo {
    padding-left: 10vw;
    width: 4vw;
  }

  #fire,
  #firetwo {
    top: 25vw;
  }

  .info,
  .inforight {
    width: 60%;
  }

  footer {
    section {
      ul {
        font-size: 1.9vw;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  #hamburger {
    padding-right: 5vw; 
  }
  #nav {
    ul {
      .space-icons{
        height: 3rem;
      }

    }
  }


  #erik {
    width: 47vw;
  }

  .contentcontainer {
    margin-top: 34vw;
  }

  #homepagesuit {
    padding-top: 5vw;
    width: 30vw;
  }
  #rocket,
  #fire,
  #firetwo {
    padding-left: 24vw;
    width: 7vw;
  }

  #fire,
  #firetwo {
    top: 42.5vw;
  }

  .info,
  .inforight {
    width: 50%;
  }
  .inforight {
    padding-left: 35vw;
  }

  footer {
    section {
      ul {
        font-size: 2.1vw;
      }
    }
  }
}
