@import "../mixins";
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;

}

#nav {
  @include flex(row, nowrap, space-around, center, center);
  height: 20vh;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(33, 0, 30, 1) 100%);
  padding: 0 5vw;

  .nav-link {
    flex: 0 1 30vw;
  }

  #logo {
    height: 100%;

    a {
      @include flex(row, nowrap, center, center, center);
      height: 100%;
    }

    #logo-icon {

        height: 18vh;

        .cls-1 {
            fill: #020202;
        }

        .cls-1,
        .cls-4,
        .cls-6 {
            stroke: #fff;
        }

        .cls-1,
        .cls-2,
        .cls-4,
        .cls-5,
        .cls-6 {
            stroke-miterlimit: 10;
        }

        .cls-2,
        .cls-3,
        .cls-5 {
            fill: #fff;
        }

        .cls-2 {
            stroke: #1d1d1b;
        }

        .cls-5 {
            stroke: #000;
        }

        .cls-6 {
            fill: none;
        }
    }
  }

  

  ul {
    @include flex(row, nowrap, space-between, center, center);
    @include no-decoration-ul(none);
    padding-left: 0;

    a {
      @include no-decoration(none);
      color: #aaaaaa;

      &:visited {
        color: #aaaaaa;
      }
    }

    li {
      @include flex(column, nowrap, space-between, center, center);
    }

    .space-icons {
      height: 10vh;
    }

    #space-suit-icon {
      .cls-1 {
        fill: #b7b7b7;
      }

      .cls-1,
      .cls-2,
      .cls-3,
      .cls-4 {
        stroke: #1d1d1b;
        stroke-miterlimit: 10;
        stroke-width: 2px;
      }

      .cls-2 {
        fill: #fff;
      }

      .cls-3 {
        fill: none;
      }

      .cls-4 {
        fill: #e52421;
      }

      .cls-5 {
        fill: #1d1d1b;
      }
    }

    #space-ship-icon {
      .cls-1 {
        fill: #ffe351;
        stroke: #1d1d1b;
      }

      .cls-1,
      .cls-2,
      .cls-3 {
        stroke-miterlimit: 10;
        stroke-width: 2px;
      }

      .cls-2 {
        fill: #c7e1c6;
      }

      .cls-2,
      .cls-3 {
        stroke: #000;
      }

      .cls-3 {
        fill: none;
      }

      .cls-4 {
        fill: #fff;
      }
    }

    #space-gallery-icon {
      .cls-1 {
        fill: #fff;
        stroke: #000;
        stroke-miterlimit: 10;
        stroke-width: 7px;
      }

      .cls-2 {
        fill: #1d1d1b;
      }

      .cls-3 {
        fill: #646464;
      }

      .cls-4 {
        fill: #ffe351;
      }
    }

    #space-contact-icon {
      .cls-1 {
        fill: #fff;
      }

      .cls-1,
      .cls-2 {
        stroke: #000;
        stroke-miterlimit: 10;
        stroke-width: 3px;
      }

      .cls-2 {
        fill: none;
      }
    }
  }
}

main {
  background: url("../assets/background-1.png");
  width: 100vw;
  height: 80vh;
  background-position: -5px -5px;
  
}



