@import "../../../mixins";

main {
  padding: 10vh 0;
  overflow: inherit;
  height: auto;
}

#container {
  @include flex(row, nowrap, space-around, flex-start, center);
  width: 100vw;
  margin: 0 auto;
  height: 70vh;
  position: relative;
  padding-bottom: 2vw;

  section {
    align-self: center;
  }
}

.visible {
  display: flex;
}

.not-visible {
  display: none;
}

.control-left {
  @include flex(column, nowrap, space-between, center, center);
  height: 50%;
  margin-top: 3vw;
}

.back-arrow {
  clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
  background-color: $secondary;
  height: 1.5vw;
  width: 3vw;

  &:hover {
    background-color: $btn-bc;
  }
}

.right-arrow {
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  background-color: $secondary;
  height: 1.5vw;
  width: 3vw;
  align-self: center;

  &:hover {
    background-color: $btn-bc;
  }
}

#forward {
  align-self: center;
}

.left-arrow {
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  background-color: $secondary;
  height: 1.5vw;
  width: 3vw;

  &:hover {
    background-color: $btn-bc;
  }
}

.card-suit {
  @include flex(row, wrap, space-between, flex-start, space-between);
  height: 38vw;
  width: 21vw;
  background: url("../../../assets/space-card-background.png");
  background-size: cover;
  @include card-border;
  border-radius: 3vw;
  box-sizing: border-box;
  align-self: center;
  animation: slide-in-br 1.5s 1;
}

.card-botton {
  background-color: $primary;
  border-radius: 2vw;
  width: 100%;

  h3 {
    text-align: center;
    font-weight: 900;
  }
}

#text-suit,
.back-arrow,
.left-arrow,
.right-arrow {
  animation: text-focus-in 4s 1;
}

#text-suit {
  color: $primary;
  width: 15vw;
}

#card-left {
  animation: slide-in-br 1.5s 1;
  padding-top: 3vw;
}

svg {
  pointer-events: all;
}

.svg-container {
  width: 100%;
  height: 80%;
  position: relative;
  @include flex(row, nowrap, center, center, center);
}

#card-right {
  animation: slide-in-right 3s 1;
}

.svg-container-parts {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;

  .part-container {
    width: 40%;
    margin-top: 10%;
  }

  .helmet-icon {
    .cls-1 {
      fill: #7c7c7c;
    }

    .cls-2 {
      fill: #c69152;
    }

    .cls-3 {
      fill: #777776;
    }

    .cls-4 {
      fill: #d7d7d7;
    }

    .cls-5 {
      fill: #c0e3e7;
    }

    .cls-6 {
      fill: #806036;
    }

    .cls-7 {
      fill: #888989;
    }

    .cls-8 {
      fill: #bfbebe;
    }

    .cls-9 {
      fill: #717070;
    }

    .cls-10 {
      fill: #3ebfee;
      opacity: 0.33;
    }

    .cls-11 {
      opacity: 0.59;
      fill: url(#radial-gradient);
    }
  }

  .name {
    width: 100%;

    h3 {
      color: $primary;
      text-align: center;
      text-transform: uppercase;
    }
  }

  .text-container {
    width: 90%;
    margin: 2% auto;
    border: 1px solid $secondary;
    border-radius: 1vw;
    overflow: hidden;

    h4 {
      color: $primary;
      font-size: 1.5vw;
      margin: 0.3vw;
      text-decoration: underline;
    }

    p {
      color: $primary;
      text-align: left;
      padding: 0.2vw;
      margin: 0.3vw;
      font-size: 1.3vw;
    }
  }
}

.container-visible-text {
  text-align: left;
  width: 90%;
  margin: 2% auto;
  border: 1px solid $secondary;
  border-radius: 1vw;
  overflow: hidden;

  p {
    color: $primary;
    text-align: left;
    padding: 0.2vw;
    margin: 0.3vw;
    font-size: 1.4vw;

    span {
      font-weight: 900;
      font-size: 1.6vw;
    }
  }
}
@media screen and (max-width: 1200px) {
  .card-suit {
    height: 45vw;
    width: 27.1vw;
  }
}

@media screen and (max-width: 960px) {
  .card-botton {
    h3 {
      font-size: 1rem;
    }
  }
  .card-suit {
    height: 45vw;
    width: 27.1vw;
  }

  .container-visible-text {
    height: 70%;

    span {
      font-size: 1.1vw;
    }

    .name {
      h3 {
        font-size: 1rem;
        margin: 0.5vw;
      }
    }
  }
  .right-arrow,
  .left-arrow {
    position: absolute;
    bottom: 2vw;
    width: 6vw;
    height: 3vw;
  }
  .left-arrow {
    left: 20vw;
  }

  .right-arrow {
    right: 20vw;
  }

  .back-arrow {
    width: 6vw;
    height: 3vw;
  }
}

@media screen and (max-width: 760px) {
  .card-botton {
    h3 {
      font-size: 1.9vw;
      margin: 0;
    }
  }
  .container-visible-text {
    p {
      font-size: 1.8vw;
    }
  }

  #text-suit {
    position: absolute;
    top: 0;
    width: 100vw;
    left: 0;
    text-align: center;
  }
  .card-suit {
    height: 48vw;
    width: 28.9vw;
  }
  .svg-container-parts {
    justify-content: flex-start;

    .text-container {
      height: 50%;
      h4 {
        font-size: 1.7vw;
      }
      p {
        font-size: 1.6vw;
      }
    }
  }
}

@media screen and (max-width: 660px) {
  .name {
    h3 {
      font-size: 1.9vw;
    }
  }

  .container-visible-text {
    p {
      font-size: 2vw;
    }
  }

  .card-suit {
    height: 52vw;
    width: 31.3vw;
  }

  #text-suit {
    position: absolute;
    top: 0;
    width: 60vw;
    left: 20vw;
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  .card-suit {
    height: 60vw;
    width: 36.1vw;
  }

  .svg-container-parts {
    .text-container {
      h4 {
        font-size: 2.2vw;
      }
      p {
        font-size: 2vw;
      }
    }
  }
}

// suit-1 page

.mercury-space-suit {
  width: 70%;
  margin-top: 25%;

  .cls-1 {
    fill: #e5e4e4;
  }

  .cls-2 {
    fill: #1d1d1b;
  }

  .cls-3 {
    fill: #d7d7d7;
  }

  .cls-4 {
    fill: #788d8e;
  }

  .cls-5 {
    fill: #d4ebed;
  }

  .cls-6 {
    fill: #afafaf;
  }

  .cls-7 {
    fill: #908f90;
  }

  .cls-8 {
    fill: #eab957;
  }

  .cls-9 {
    fill: #c4c4c4;
  }

  .cls-10 {
    fill: #8e4922;
  }

  .cls-11 {
    fill: #472515;
  }

  .cls-12 {
    fill: #a9a9a9;
  }

  .cls-13 {
    fill: #7f7f80;
  }

  .cls-14 {
    fill: #5a92ce;
  }

  .cls-15 {
    fill: #c0e3e7;
  }

  .cls-16 {
    fill: #1955a0;
  }

  .cls-17 {
    fill: #a58a5a;
  }

  .cls-18 {
    fill: #bcbcbb;
  }

  .cls-19 {
    fill: #444;
  }

  .cls-20 {
    fill: #777776;
  }

  .cls-21 {
    fill: #727272;
  }

  .cls-22 {
    fill: #b88e46;
  }

  .cls-23 {
    fill: #7c7c7c;
  }

  .cls-24 {
    fill: #8b8b8c;
  }

  .cls-25 {
    fill: #b7b7b7;
  }

  .cls-26 {
    fill: #717070;
  }

  .cls-27 {
    fill: #c2c1c1;
  }

  .cls-28 {
    fill: #c69152;
  }

  .cls-29 {
    fill: #806036;
  }

  .cls-30 {
    fill: #888989;
  }

  .cls-31 {
    fill: #16355a;
  }

  .cls-32 {
    fill: #765922;
  }

  .cls-33 {
    fill: #c5a470;
  }

  .cls-34 {
    fill: #e5211c;
  }

  .cls-35 {
    fill: #413118;
  }

  .cls-36 {
    fill: #999;
  }

  .cls-37 {
    fill: #bababa;
  }

  .cls-38 {
    fill: #9c9b9b;
  }

  .cls-39 {
    fill: #676766;
  }

  .cls-40,
  .cls-41,
  .cls-42,
  .cls-43,
  .cls-44,
  .cls-48,
  .cls-49,
  .cls-51 {
    fill: none;
  }

  .cls-40 {
    stroke: #7f7f80;
  }

  .cls-40,
  .cls-41,
  .cls-43,
  .cls-44,
  .cls-49,
  .cls-51 {
    stroke-miterlimit: 10;
  }

  .cls-40,
  .cls-41,
  .cls-42,
  .cls-43,
  .cls-44 {
    stroke-width: 0.5px;
  }

  .cls-41 {
    stroke: #1d1d1b;
  }

  .cls-42 {
    stroke: #717070;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  .cls-43 {
    stroke: #a8a7a7;
  }

  .cls-44 {
    stroke: #727272;
  }

  .cls-45 {
    fill: #bfbebe;
  }

  .cls-46 {
    fill: #3ebfee;
    opacity: 0.33;
  }

  .cls-47,
  .cls-49 {
    opacity: 0.15;
  }

  .cls-49 {
    stroke: #000;
  }

  .cls-50 {
    fill: #fff;
  }

  .cls-51 {
    stroke: #9c9b9b;
  }

  .cls-52 {
    opacity: 0.59;
    fill: url(#radial-gradient);
  }
}

.gloves-icon {
  transform: rotate(90deg);
  margin-top: -7vh;
  .cls-1 {
    fill: #908f90;
  }

  .cls-2 {
    fill: #d7d7d7;
  }

  .cls-3 {
    fill: #afafaf;
  }

  .cls-4 {
    fill: #c4c4c4;
  }

  .cls-5,
  .cls-7 {
    opacity: 0.15;
  }

  .cls-6,
  .cls-7 {
    fill: none;
  }

  .cls-7 {
    stroke: #000;
    stroke-miterlimit: 10;
  }

  .cls-8 {
    fill: #8b8b8c;
  }
}

.boots-icon {
  height: 5vw;

  .cls-1 {
    fill: #eab957;
  }

  .cls-2 {
    fill: #a9a9a9;
  }

  .cls-3 {
    fill: #7f7f80;
  }

  .cls-4 {
    fill: #8e4922;
  }

  .cls-5 {
    fill: #472515;
  }

  .cls-6 {
    opacity: 0.15;
  }

  .cls-7 {
    fill: none;
  }

  .cls-8 {
    fill: #8b8b8c;
  }
}

.tank-icon {
  .cls-1 {
    fill: #e5e4e4;
  }

  .cls-2 {
    fill: #1d1d1b;
  }

  .cls-3 {
    fill: #d7d7d7;
  }

  .cls-4 {
    fill: #788d8e;
  }
}
.helmet-icon {
  .cls-1 {
    fill: #7c7c7c;
  }

  .cls-2 {
    fill: #c69152;
  }

  .cls-3 {
    fill: #777776;
  }

  .cls-4 {
    fill: #d7d7d7;
  }

  .cls-5 {
    fill: #c0e3e7;
  }

  .cls-6 {
    fill: #806036;
  }

  .cls-7 {
    fill: #888989;
  }

  .cls-8 {
    fill: #bfbebe;
  }

  .cls-9 {
    fill: #717070;
  }

  .cls-10 {
    fill: #3ebfee;
    opacity: 0.33;
  }

  .cls-11 {
    opacity: 0.59;
    fill: url(#radial-gradient);
  }
}

// suit-2 page

#apollo-suit {
  height: 100%;
  width: 100%;

  .cls-1,
  .cls-2,
  .cls-21,
  .cls-24,
  .cls-25 {
    fill: none;
  }

  .cls-2 {
    stroke: #1d1d1b;
  }

  .cls-2,
  .cls-21,
  .cls-24,
  .cls-25 {
    stroke-miterlimit: 10;
  }

  .cls-3 {
    fill: #fafafa;
  }

  .cls-4 {
    fill: #e53738;
  }

  .cls-5 {
    fill: #185694;
  }

  .cls-6 {
    fill: #aa875d;
  }

  .cls-7 {
    fill: #cdcccc;
  }

  .cls-8 {
    fill: #a8a7a7;
  }

  .cls-9 {
    fill: #1d1d1b;
  }

  .cls-10 {
    fill: #144872;
  }

  .cls-11 {
    fill: #e2e2e1;
  }

  .cls-12 {
    fill: #891f27;
  }

  .cls-13 {
    fill: #444;
  }

  .cls-14 {
    fill: #696969;
  }

  .cls-15 {
    fill: #262626;
  }

  .cls-16 {
    fill: #1e1e1e;
  }

  .cls-17 {
    fill: #777676;
  }

  .cls-18 {
    fill: #929191;
  }

  .cls-19 {
    opacity: 0.42;
  }

  .cls-20,
  .cls-21 {
    opacity: 0.33;
  }

  .cls-21 {
    stroke: #000;
  }

  .cls-22 {
    opacity: 0.21;
  }

  .cls-23 {
    fill: #028cca;
  }

  .cls-24 {
    stroke: #aa875d;
  }

  .cls-25 {
    stroke: #929191;
  }

  .cls-26 {
    isolation: isolate;
  }

  .cls-27 {
    clip-path: url(#clip-path);
  }

  .cls-28 {
    fill: #121212;
  }

  .cls-29 {
    fill: #1a1a1a;
  }

  .cls-30 {
    fill: #202020;
  }

  .cls-31 {
    fill: #252525;
  }

  .cls-32 {
    fill: #292929;
  }

  .cls-33 {
    fill: #2d2d2d;
  }

  .cls-34 {
    fill: #313131;
  }

  .cls-35 {
    fill: #343434;
  }

  .cls-36 {
    fill: #373737;
  }

  .cls-37 {
    fill: #3a3a3a;
  }

  .cls-38 {
    fill: #3d3d3d;
  }

  .cls-39 {
    fill: #404040;
  }

  .cls-40 {
    fill: #424242;
  }

  .cls-41 {
    fill: #454545;
  }

  .cls-42 {
    fill: #474747;
  }

  .cls-43 {
    clip-path: url(#clip-path-2);
  }

  .cls-44 {
    clip-path: url(#clip-path-3);
  }

  .cls-45 {
    fill: #494949;
  }

  .cls-46 {
    fill: #4c4c4c;
  }

  .cls-47 {
    fill: #4e4e4e;
  }

  .cls-48 {
    fill: #505050;
  }

  .cls-49 {
    clip-path: url(#clip-path-4);
  }
}

// suit-3 page

#orange-suit {
  height: 100%;
  width: 100%;

  .cls-1,
  .cls-10,
  .cls-11,
  .cls-12,
  .cls-13,
  .cls-19,
  .cls-20 {
    fill: none;
  }

  .cls-2 {
    fill: #ea5917;
  }

  .cls-3 {
    fill: #5c5c5c;
  }

  .cls-4 {
    fill: #7a7a7a;
  }

  .cls-5 {
    fill: #ce4c19;
  }

  .cls-6 {
    fill: #fff;
  }

  .cls-7 {
    fill: #1d1d1b;
  }

  .cls-8 {
    fill: #a5a3a3;
  }

  .cls-16,
  .cls-9 {
    fill: #898888;
  }

  .cls-10 {
    stroke: #ce4c19;
  }

  .cls-10,
  .cls-11,
  .cls-12,
  .cls-13,
  .cls-16,
  .cls-19,
  .cls-20 {
    stroke-miterlimit: 10;
  }

  .cls-11 {
    stroke: #000;
  }

  .cls-12 {
    stroke: #a5a3a3;
  }

  .cls-13,
  .cls-16 {
    stroke: #bfbebe;
    stroke-width: 3px;
  }

  .cls-14 {
    clip-path: url(#clip-path);
  }

  .cls-15 {
    clip-path: url(#clip-path-2);
  }

  .cls-17 {
    fill: #616160;
  }

  .cls-18 {
    fill: url(#radial-gradient);
  }

  .cls-19 {
    stroke: #969596;
    stroke-width: 0.75px;
  }

  .cls-20 {
    stroke: #333;
  }
 
}

// suit-4 page

#emu-space-suit {
  height: 100%;
  width: 100%;
  .cls-1 {
    fill: #e41213;
  }

  .cls-2 {
    fill: #e8e8e8;
  }

  .cls-3 {
    fill: #f8f7f7;
  }

  .cls-4 {
    fill: #346fb6;
  }

  .cls-5 {
    fill: #fbf6e7;
  }

  .cls-6 {
    fill: #eaeaea;
  }

  .cls-7 {
    fill: #efefef;
  }

  .cls-8 {
    fill: #d7d7d7;
  }

  .cls-9 {
    fill: #1d1d1b;
  }

  .cls-10,
  .cls-11,
  .cls-12 {
    fill: none;
    stroke-miterlimit: 10;
  }

  .cls-10 {
    stroke: #d7d8d7;
  }

  .cls-11 {
    stroke: #000;
    opacity: 0.5;
  }

  .cls-12 {
    stroke: #a0a09f;
    stroke-width: 0.25px;
  }

  .cls-13 {
    fill: #a0a09f;
  }

  .cls-14 {
    fill: #a8a8aa;
  }

  .cls-15 {
    fill: #def0f9;
  }

  .cls-16 {
    fill: #cdac83;
  }

  .cls-17 {
    fill: #5a5a5a;
  }

  .cls-18 {
    fill: #fff;
  }

  .cls-19 {
    fill: #ccbdac;
  }

  .cls-20 {
    fill: url(#radial-gradient);
  }

  .cls-21 {
    fill: url(#radial-gradient-2);
  }

  .cls-22 {
    fill: url(#radial-gradient-3);
  }

  .cls-23 {
    fill: url(#radial-gradient-4);
  }

  .cls-24 {
    fill: url(#radial-gradient-5);
  }

  .cls-25 {
    fill: #d7d8d7;
  }

  .cls-26 {
    fill: #d8d8d8;
  }

  .cls-27 {
    opacity: 0.51;
  }

  .cls-28 {
    fill: #9e8455;
  }

}

// ship-1 page

.friendship-mercury {
  height: 80%;

  .cls-1 {
    fill: #bf6667;
    stroke: #787678;
  }
  .cls-1,
  .cls-10,
  .cls-19,
  .cls-2,
  .cls-20,
  .cls-21,
  .cls-22,
  .cls-23,
  .cls-24,
  .cls-27,
  .cls-28,
  .cls-3,
  .cls-4,
  .cls-5,
  .cls-9 {
    stroke-miterlimit: 10;
  }
  .cls-19,
  .cls-2,
  .cls-20,
  .cls-21,
  .cls-22,
  .cls-23,
  .cls-24,
  .cls-27,
  .cls-28,
  .cls-3 {
    fill: none;
  }
  .cls-2 {
    stroke: #874948;
  }
  .cls-3 {
    stroke: #1d1d1b;
  }
  .cls-11,
  .cls-4 {
    fill: #383c52;
  }
  .cls-4 {
    stroke: #454544;
  }
  .cls-5 {
    fill: #afb9bb;
    stroke: #616062;
  }
  .cls-6 {
    fill: #363635;
  }
  .cls-7 {
    fill: #2b2c2a;
  }
  .cls-8 {
    fill: #21211f;
  }
  .cls-9 {
    fill: #c4c9c5;
  }
  .cls-10,
  .cls-9 {
    stroke: #939393;
  }
  .cls-10 {
    fill: #c4c7c5;
  }
  .cls-12 {
    fill: #2c2f40;
  }
  .cls-13 {
    fill: #cdd0cd;
  }
  .cls-14 {
    fill: #a3adaf;
  }
  .cls-15 {
    fill: #a3a3a3;
  }
  .cls-16 {
    fill: silver;
  }
  .cls-17 {
    fill: #97a1a2;
  }
  .cls-18 {
    fill: #874948;
  }
  .cls-19 {
    stroke: #363635;
  }
  .cls-20 {
    stroke: silver;
  }
  .cls-21,
  .cls-24 {
    stroke: #a0aaab;
  }
  .cls-22 {
    stroke: #ca392e;
  }
  .cls-23 {
    stroke: #383c52;
  }
  .cls-24 {
    stroke-width: 0.5px;
  }
  .cls-25 {
    fill: #fff;
  }
  .cls-26 {
    fill: #1a1f55;
  }
  .cls-27 {
    stroke: #941914;
    stroke-width: 0.25px;
  }
  .cls-28 {
    stroke: #463a42;
  }
  .cls-29 {
    fill: #aad0bb;
  }
  .cls-30 {
    fill: #ccc;
  }
  .cls-31 {
    fill: #e3e3e3;
  }
}

//ship-2 page

#apolo-11 {
  width: 100%;
  height: 100%;
  .cls-1 {
    fill: #b8b5a7;
    stroke: #504f4e;
  }

  .cls-1,
  .cls-13,
  .cls-15 {
    stroke-miterlimit: 10;
  }

  .cls-2 {
    fill: #1d1d1b;
  }

  .cls-3 {
    fill: #58637c;
  }

  .cls-4 {
    fill: #a19d9a;
  }

  .cls-5 {
    fill: #bdbabd;
  }

  .cls-6 {
    fill: #b5aca0;
  }

  .cls-7 {
    fill: #cbbdab;
  }

  .cls-8 {
    fill: #e6d2a3;
  }

  .cls-9 {
    fill: #919199;
  }

  .cls-10 {
    fill: #3e3e3d;
  }

  .cls-11 {
    fill: #987f6b;
  }

  .cls-12 {
    fill: #a8a599;
  }

  .cls-13,
  .cls-15 {
    fill: none;
  }

  .cls-13 {
    stroke: #873e1e;
    stroke-width: 0.75px;
  }

  .cls-14 {
    fill: #d1b186;
  }

  .cls-15 {
    stroke: #d1b186;
  }

  .cls-16 {
    fill: #989491;
  }

  .cls-17 {
    fill: #a9a5a2;
  }

  .cls-18 {
    fill: #4a5368;
  }

  .cls-19 {
    fill: #fff;
  }

  .cls-20 {
    fill: #58627b;
  }

  .cls-21 {
    fill: #bcad87;
  }

  .cls-22 {
    fill: #2b2827;
  }

  .cls-23 {
    fill: #615144;
  }

  .cls-24 {
    fill: #2b2b2a;
  }

  .cls-25 {
    fill: #e0e0e0;
  }

  .cls-26 {
    fill: #474746;
  }

  .cls-27 {
    fill: #c9caca;
  }

  .cls-28 {
    fill: #aca8a5;
  }

  .cls-29 {
    fill: #bfb5a9;
  }

  .cls-30 {
    fill: #bfbbad;
  }



}

//ship-3 page

#iss-missions {
  height: 100%;
  width: 100%;

  .cls-1,
  .cls-2 {
    fill: #515250;
  }

  .cls-1 {
    stroke: #686867;
  }

  .cls-1,
  .cls-17,
  .cls-18,
  .cls-3,
  .cls-4,
  .cls-5,
  .cls-6,
  .cls-8 {
    stroke-miterlimit: 10;
  }

  .cls-17,
  .cls-18,
  .cls-3,
  .cls-4 {
    fill: none;
  }

  .cls-3 {
    stroke: #701f0b;
  }

  .cls-4 {
    stroke: #72675d;
  }

  .cls-5 {
    fill: #892613;
    stroke: #555454;
  }

  .cls-6 {
    fill: #c5ccca;
    stroke: #6d6d6c;
  }

  .cls-7 {
    fill: #1d1d1b;
  }

  .cls-8 {
    fill: #cbc9c8;
    stroke: #5c5c5b;
  }

  .cls-9 {
    fill: #777776;
  }

  .cls-10 {
    fill: #601a05;
  }

  .cls-11 {
    fill: #4a4a49;
  }

  .cls-12 {
    fill: #b2b2b2;
  }

  .cls-13 {
    fill: #949494;
  }

  .cls-14 {
    fill: #8e8e8d;
  }

  .cls-15 {
    fill: #701f0b;
  }

  .cls-16 {
    fill: #aaaaa9;
  }

  .cls-17 {
    stroke: #892613;
  }

  .cls-18 {
    stroke: #aaaaa9;
    stroke-width: 4px;
  }
   
}

// ship-4 page

#iss-missions-2 {
  height: 100%;
  width: 100%;

  .cls-1 {
    fill: #7b7c77;
  }

  .cls-1,
  .cls-2,
  .cls-21,
  .cls-3,
  .cls-5 {
    stroke: #5f615c;
  }

  .cls-1,
  .cls-11,
  .cls-12,
  .cls-13,
  .cls-14,
  .cls-15,
  .cls-2,
  .cls-21,
  .cls-22,
  .cls-26,
  .cls-3,
  .cls-4,
  .cls-5,
  .cls-7 {
    stroke-miterlimit: 10;
  }

  .cls-2 {
    fill: #424340;
  }

  .cls-22,
  .cls-3,
  .cls-7,
  .cls-9 {
    fill: #fff;
  }

  .cls-12,
  .cls-13,
  .cls-14,
  .cls-15,
  .cls-26,
  .cls-4 {
    fill: none;
  }

  .cls-4 {
    stroke: #6f6c6d;
  }

  .cls-5 {
    fill: #60625e;
  }

  .cls-21,
  .cls-6 {
    fill: #1d1d1b;
  }

  .cls-7 {
    stroke: #1d1d1b;
  }

  .cls-8 {
    fill: #4a4a49;
  }

  .cls-10 {
    fill: #898b85;
  }

  .cls-11 {
    fill: #696a66;
    stroke: #5c5d59;
  }

  .cls-12 {
    stroke: #5a5c57;
  }

  .cls-13 {
    stroke: #696a65;
  }

  .cls-14 {
    stroke: #3d3d3d;
  }

  .cls-14,
  .cls-15 {
    stroke-width: 0.25px;
  }

  .cls-15 {
    stroke: #5b5b5c;
  }

  .cls-16 {
    fill: #3d3d3d;
  }

  .cls-17 {
    fill: #c6c6c6;
  }

  .cls-18 {
    fill: #21211f;
  }

  .cls-19 {
    fill: #5f615c;
  }

  .cls-20 {
    opacity: 0.22;
  }

  .cls-22 {
    stroke: #91948d;
  }

  .cls-23 {
    fill: #ccc;
  }

  .cls-24 {
    fill: #e8e8e6;
  }

  .cls-25 {
    opacity: 0.14;
  }

  .cls-26 {
    stroke: #383c52;
  }
}
