@keyframes slide-in-br {
  0% {
    transform: translateY(1000px) translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    visibility: hidden;
  }
  100% {
    transform: translateX(0);
    visibility: visible;
  }
}
@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
main {
  padding: 10vh 0;
  overflow: inherit;
  height: auto;
}

#container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: center;
  width: 100vw;
  margin: 0 auto;
  height: 70vh;
  position: relative;
  padding-bottom: 2vw;
}
#container section {
  align-self: center;
}

.visible {
  display: flex;
}

.not-visible {
  display: none;
}

.control-left {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 50%;
  margin-top: 3vw;
}

.back-arrow {
  clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
  background-color: #d6a1a1;
  height: 1.5vw;
  width: 3vw;
}
.back-arrow:hover {
  background-color: #bb6611;
}

.right-arrow {
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  background-color: #d6a1a1;
  height: 1.5vw;
  width: 3vw;
  align-self: center;
}
.right-arrow:hover {
  background-color: #bb6611;
}

#forward {
  align-self: center;
}

.left-arrow {
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  background-color: #d6a1a1;
  height: 1.5vw;
  width: 3vw;
}
.left-arrow:hover {
  background-color: #bb6611;
}

.card-suit {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-between;
  height: 38vw;
  width: 21vw;
  background: url("../../../assets/space-card-background.png");
  background-size: cover;
  border: 5px solid #ffeedd;
  border-radius: 3vw;
  box-sizing: border-box;
  align-self: center;
  animation: slide-in-br 1.5s 1;
}

.card-botton {
  background-color: #ffeedd;
  border-radius: 2vw;
  width: 100%;
}
.card-botton h3 {
  text-align: center;
  font-weight: 900;
}

#text-suit,
.back-arrow,
.left-arrow,
.right-arrow {
  animation: text-focus-in 4s 1;
}

#text-suit {
  color: #ffeedd;
  width: 15vw;
}

#card-left {
  animation: slide-in-br 1.5s 1;
  padding-top: 3vw;
}

svg {
  pointer-events: all;
}

.svg-container {
  width: 100%;
  height: 80%;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#card-right {
  animation: slide-in-right 3s 1;
}

.svg-container-parts {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.svg-container-parts .part-container {
  width: 40%;
  margin-top: 10%;
}
.svg-container-parts .helmet-icon .cls-1 {
  fill: #7c7c7c;
}
.svg-container-parts .helmet-icon .cls-2 {
  fill: #c69152;
}
.svg-container-parts .helmet-icon .cls-3 {
  fill: #777776;
}
.svg-container-parts .helmet-icon .cls-4 {
  fill: #d7d7d7;
}
.svg-container-parts .helmet-icon .cls-5 {
  fill: #c0e3e7;
}
.svg-container-parts .helmet-icon .cls-6 {
  fill: #806036;
}
.svg-container-parts .helmet-icon .cls-7 {
  fill: #888989;
}
.svg-container-parts .helmet-icon .cls-8 {
  fill: #bfbebe;
}
.svg-container-parts .helmet-icon .cls-9 {
  fill: #717070;
}
.svg-container-parts .helmet-icon .cls-10 {
  fill: #3ebfee;
  opacity: 0.33;
}
.svg-container-parts .helmet-icon .cls-11 {
  opacity: 0.59;
  fill: url(#radial-gradient);
}
.svg-container-parts .name {
  width: 100%;
}
.svg-container-parts .name h3 {
  color: #ffeedd;
  text-align: center;
  text-transform: uppercase;
}
.svg-container-parts .text-container {
  width: 90%;
  margin: 2% auto;
  border: 1px solid #d6a1a1;
  border-radius: 1vw;
  overflow: hidden;
}
.svg-container-parts .text-container h4 {
  color: #ffeedd;
  font-size: 1.5vw;
  margin: 0.3vw;
  text-decoration: underline;
}
.svg-container-parts .text-container p {
  color: #ffeedd;
  text-align: left;
  padding: 0.2vw;
  margin: 0.3vw;
  font-size: 1.3vw;
}

.container-visible-text {
  text-align: left;
  width: 90%;
  margin: 2% auto;
  border: 1px solid #d6a1a1;
  border-radius: 1vw;
  overflow: hidden;
}
.container-visible-text p {
  color: #ffeedd;
  text-align: left;
  padding: 0.2vw;
  margin: 0.3vw;
  font-size: 1.4vw;
}
.container-visible-text p span {
  font-weight: 900;
  font-size: 1.6vw;
}

@media screen and (max-width: 1200px) {
  .card-suit {
    height: 45vw;
    width: 27.1vw;
  }
}
@media screen and (max-width: 960px) {
  .card-botton h3 {
    font-size: 1rem;
  }

  .card-suit {
    height: 45vw;
    width: 27.1vw;
  }

  .container-visible-text {
    height: 70%;
  }
  .container-visible-text span {
    font-size: 1.1vw;
  }
  .container-visible-text .name h3 {
    font-size: 1rem;
    margin: 0.5vw;
  }

  .right-arrow,
.left-arrow {
    position: absolute;
    bottom: 2vw;
    width: 6vw;
    height: 3vw;
  }

  .left-arrow {
    left: 20vw;
  }

  .right-arrow {
    right: 20vw;
  }

  .back-arrow {
    width: 6vw;
    height: 3vw;
  }
}
@media screen and (max-width: 760px) {
  .card-botton h3 {
    font-size: 1.9vw;
    margin: 0;
  }

  .container-visible-text p {
    font-size: 1.8vw;
  }

  #text-suit {
    position: absolute;
    top: 0;
    width: 100vw;
    left: 0;
    text-align: center;
  }

  .card-suit {
    height: 48vw;
    width: 28.9vw;
  }

  .svg-container-parts {
    justify-content: flex-start;
  }
  .svg-container-parts .text-container {
    height: 50%;
  }
  .svg-container-parts .text-container h4 {
    font-size: 1.7vw;
  }
  .svg-container-parts .text-container p {
    font-size: 1.6vw;
  }
}
@media screen and (max-width: 660px) {
  .name h3 {
    font-size: 1.9vw;
  }

  .container-visible-text p {
    font-size: 2vw;
  }

  .card-suit {
    height: 52vw;
    width: 31.3vw;
  }

  #text-suit {
    position: absolute;
    top: 0;
    width: 60vw;
    left: 20vw;
    text-align: center;
  }
}
@media screen and (max-width: 576px) {
  .card-suit {
    height: 60vw;
    width: 36.1vw;
  }

  .svg-container-parts .text-container h4 {
    font-size: 2.2vw;
  }
  .svg-container-parts .text-container p {
    font-size: 2vw;
  }
}
.mercury-space-suit {
  width: 70%;
  margin-top: 25%;
}
.mercury-space-suit .cls-1 {
  fill: #e5e4e4;
}
.mercury-space-suit .cls-2 {
  fill: #1d1d1b;
}
.mercury-space-suit .cls-3 {
  fill: #d7d7d7;
}
.mercury-space-suit .cls-4 {
  fill: #788d8e;
}
.mercury-space-suit .cls-5 {
  fill: #d4ebed;
}
.mercury-space-suit .cls-6 {
  fill: #afafaf;
}
.mercury-space-suit .cls-7 {
  fill: #908f90;
}
.mercury-space-suit .cls-8 {
  fill: #eab957;
}
.mercury-space-suit .cls-9 {
  fill: #c4c4c4;
}
.mercury-space-suit .cls-10 {
  fill: #8e4922;
}
.mercury-space-suit .cls-11 {
  fill: #472515;
}
.mercury-space-suit .cls-12 {
  fill: #a9a9a9;
}
.mercury-space-suit .cls-13 {
  fill: #7f7f80;
}
.mercury-space-suit .cls-14 {
  fill: #5a92ce;
}
.mercury-space-suit .cls-15 {
  fill: #c0e3e7;
}
.mercury-space-suit .cls-16 {
  fill: #1955a0;
}
.mercury-space-suit .cls-17 {
  fill: #a58a5a;
}
.mercury-space-suit .cls-18 {
  fill: #bcbcbb;
}
.mercury-space-suit .cls-19 {
  fill: #444;
}
.mercury-space-suit .cls-20 {
  fill: #777776;
}
.mercury-space-suit .cls-21 {
  fill: #727272;
}
.mercury-space-suit .cls-22 {
  fill: #b88e46;
}
.mercury-space-suit .cls-23 {
  fill: #7c7c7c;
}
.mercury-space-suit .cls-24 {
  fill: #8b8b8c;
}
.mercury-space-suit .cls-25 {
  fill: #b7b7b7;
}
.mercury-space-suit .cls-26 {
  fill: #717070;
}
.mercury-space-suit .cls-27 {
  fill: #c2c1c1;
}
.mercury-space-suit .cls-28 {
  fill: #c69152;
}
.mercury-space-suit .cls-29 {
  fill: #806036;
}
.mercury-space-suit .cls-30 {
  fill: #888989;
}
.mercury-space-suit .cls-31 {
  fill: #16355a;
}
.mercury-space-suit .cls-32 {
  fill: #765922;
}
.mercury-space-suit .cls-33 {
  fill: #c5a470;
}
.mercury-space-suit .cls-34 {
  fill: #e5211c;
}
.mercury-space-suit .cls-35 {
  fill: #413118;
}
.mercury-space-suit .cls-36 {
  fill: #999;
}
.mercury-space-suit .cls-37 {
  fill: #bababa;
}
.mercury-space-suit .cls-38 {
  fill: #9c9b9b;
}
.mercury-space-suit .cls-39 {
  fill: #676766;
}
.mercury-space-suit .cls-40,
.mercury-space-suit .cls-41,
.mercury-space-suit .cls-42,
.mercury-space-suit .cls-43,
.mercury-space-suit .cls-44,
.mercury-space-suit .cls-48,
.mercury-space-suit .cls-49,
.mercury-space-suit .cls-51 {
  fill: none;
}
.mercury-space-suit .cls-40 {
  stroke: #7f7f80;
}
.mercury-space-suit .cls-40,
.mercury-space-suit .cls-41,
.mercury-space-suit .cls-43,
.mercury-space-suit .cls-44,
.mercury-space-suit .cls-49,
.mercury-space-suit .cls-51 {
  stroke-miterlimit: 10;
}
.mercury-space-suit .cls-40,
.mercury-space-suit .cls-41,
.mercury-space-suit .cls-42,
.mercury-space-suit .cls-43,
.mercury-space-suit .cls-44 {
  stroke-width: 0.5px;
}
.mercury-space-suit .cls-41 {
  stroke: #1d1d1b;
}
.mercury-space-suit .cls-42 {
  stroke: #717070;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.mercury-space-suit .cls-43 {
  stroke: #a8a7a7;
}
.mercury-space-suit .cls-44 {
  stroke: #727272;
}
.mercury-space-suit .cls-45 {
  fill: #bfbebe;
}
.mercury-space-suit .cls-46 {
  fill: #3ebfee;
  opacity: 0.33;
}
.mercury-space-suit .cls-47,
.mercury-space-suit .cls-49 {
  opacity: 0.15;
}
.mercury-space-suit .cls-49 {
  stroke: #000;
}
.mercury-space-suit .cls-50 {
  fill: #fff;
}
.mercury-space-suit .cls-51 {
  stroke: #9c9b9b;
}
.mercury-space-suit .cls-52 {
  opacity: 0.59;
  fill: url(#radial-gradient);
}

.gloves-icon {
  transform: rotate(90deg);
  margin-top: -7vh;
}
.gloves-icon .cls-1 {
  fill: #908f90;
}
.gloves-icon .cls-2 {
  fill: #d7d7d7;
}
.gloves-icon .cls-3 {
  fill: #afafaf;
}
.gloves-icon .cls-4 {
  fill: #c4c4c4;
}
.gloves-icon .cls-5,
.gloves-icon .cls-7 {
  opacity: 0.15;
}
.gloves-icon .cls-6,
.gloves-icon .cls-7 {
  fill: none;
}
.gloves-icon .cls-7 {
  stroke: #000;
  stroke-miterlimit: 10;
}
.gloves-icon .cls-8 {
  fill: #8b8b8c;
}

.boots-icon {
  height: 5vw;
}
.boots-icon .cls-1 {
  fill: #eab957;
}
.boots-icon .cls-2 {
  fill: #a9a9a9;
}
.boots-icon .cls-3 {
  fill: #7f7f80;
}
.boots-icon .cls-4 {
  fill: #8e4922;
}
.boots-icon .cls-5 {
  fill: #472515;
}
.boots-icon .cls-6 {
  opacity: 0.15;
}
.boots-icon .cls-7 {
  fill: none;
}
.boots-icon .cls-8 {
  fill: #8b8b8c;
}

.tank-icon .cls-1 {
  fill: #e5e4e4;
}
.tank-icon .cls-2 {
  fill: #1d1d1b;
}
.tank-icon .cls-3 {
  fill: #d7d7d7;
}
.tank-icon .cls-4 {
  fill: #788d8e;
}

.helmet-icon .cls-1 {
  fill: #7c7c7c;
}
.helmet-icon .cls-2 {
  fill: #c69152;
}
.helmet-icon .cls-3 {
  fill: #777776;
}
.helmet-icon .cls-4 {
  fill: #d7d7d7;
}
.helmet-icon .cls-5 {
  fill: #c0e3e7;
}
.helmet-icon .cls-6 {
  fill: #806036;
}
.helmet-icon .cls-7 {
  fill: #888989;
}
.helmet-icon .cls-8 {
  fill: #bfbebe;
}
.helmet-icon .cls-9 {
  fill: #717070;
}
.helmet-icon .cls-10 {
  fill: #3ebfee;
  opacity: 0.33;
}
.helmet-icon .cls-11 {
  opacity: 0.59;
  fill: url(#radial-gradient);
}

#apollo-suit {
  height: 100%;
  width: 100%;
}
#apollo-suit .cls-1,
#apollo-suit .cls-2,
#apollo-suit .cls-21,
#apollo-suit .cls-24,
#apollo-suit .cls-25 {
  fill: none;
}
#apollo-suit .cls-2 {
  stroke: #1d1d1b;
}
#apollo-suit .cls-2,
#apollo-suit .cls-21,
#apollo-suit .cls-24,
#apollo-suit .cls-25 {
  stroke-miterlimit: 10;
}
#apollo-suit .cls-3 {
  fill: #fafafa;
}
#apollo-suit .cls-4 {
  fill: #e53738;
}
#apollo-suit .cls-5 {
  fill: #185694;
}
#apollo-suit .cls-6 {
  fill: #aa875d;
}
#apollo-suit .cls-7 {
  fill: #cdcccc;
}
#apollo-suit .cls-8 {
  fill: #a8a7a7;
}
#apollo-suit .cls-9 {
  fill: #1d1d1b;
}
#apollo-suit .cls-10 {
  fill: #144872;
}
#apollo-suit .cls-11 {
  fill: #e2e2e1;
}
#apollo-suit .cls-12 {
  fill: #891f27;
}
#apollo-suit .cls-13 {
  fill: #444;
}
#apollo-suit .cls-14 {
  fill: #696969;
}
#apollo-suit .cls-15 {
  fill: #262626;
}
#apollo-suit .cls-16 {
  fill: #1e1e1e;
}
#apollo-suit .cls-17 {
  fill: #777676;
}
#apollo-suit .cls-18 {
  fill: #929191;
}
#apollo-suit .cls-19 {
  opacity: 0.42;
}
#apollo-suit .cls-20,
#apollo-suit .cls-21 {
  opacity: 0.33;
}
#apollo-suit .cls-21 {
  stroke: #000;
}
#apollo-suit .cls-22 {
  opacity: 0.21;
}
#apollo-suit .cls-23 {
  fill: #028cca;
}
#apollo-suit .cls-24 {
  stroke: #aa875d;
}
#apollo-suit .cls-25 {
  stroke: #929191;
}
#apollo-suit .cls-26 {
  isolation: isolate;
}
#apollo-suit .cls-27 {
  clip-path: url(#clip-path);
}
#apollo-suit .cls-28 {
  fill: #121212;
}
#apollo-suit .cls-29 {
  fill: #1a1a1a;
}
#apollo-suit .cls-30 {
  fill: #202020;
}
#apollo-suit .cls-31 {
  fill: #252525;
}
#apollo-suit .cls-32 {
  fill: #292929;
}
#apollo-suit .cls-33 {
  fill: #2d2d2d;
}
#apollo-suit .cls-34 {
  fill: #313131;
}
#apollo-suit .cls-35 {
  fill: #343434;
}
#apollo-suit .cls-36 {
  fill: #373737;
}
#apollo-suit .cls-37 {
  fill: #3a3a3a;
}
#apollo-suit .cls-38 {
  fill: #3d3d3d;
}
#apollo-suit .cls-39 {
  fill: #404040;
}
#apollo-suit .cls-40 {
  fill: #424242;
}
#apollo-suit .cls-41 {
  fill: #454545;
}
#apollo-suit .cls-42 {
  fill: #474747;
}
#apollo-suit .cls-43 {
  clip-path: url(#clip-path-2);
}
#apollo-suit .cls-44 {
  clip-path: url(#clip-path-3);
}
#apollo-suit .cls-45 {
  fill: #494949;
}
#apollo-suit .cls-46 {
  fill: #4c4c4c;
}
#apollo-suit .cls-47 {
  fill: #4e4e4e;
}
#apollo-suit .cls-48 {
  fill: #505050;
}
#apollo-suit .cls-49 {
  clip-path: url(#clip-path-4);
}

#orange-suit {
  height: 100%;
  width: 100%;
}
#orange-suit .cls-1,
#orange-suit .cls-10,
#orange-suit .cls-11,
#orange-suit .cls-12,
#orange-suit .cls-13,
#orange-suit .cls-19,
#orange-suit .cls-20 {
  fill: none;
}
#orange-suit .cls-2 {
  fill: #ea5917;
}
#orange-suit .cls-3 {
  fill: #5c5c5c;
}
#orange-suit .cls-4 {
  fill: #7a7a7a;
}
#orange-suit .cls-5 {
  fill: #ce4c19;
}
#orange-suit .cls-6 {
  fill: #fff;
}
#orange-suit .cls-7 {
  fill: #1d1d1b;
}
#orange-suit .cls-8 {
  fill: #a5a3a3;
}
#orange-suit .cls-16,
#orange-suit .cls-9 {
  fill: #898888;
}
#orange-suit .cls-10 {
  stroke: #ce4c19;
}
#orange-suit .cls-10,
#orange-suit .cls-11,
#orange-suit .cls-12,
#orange-suit .cls-13,
#orange-suit .cls-16,
#orange-suit .cls-19,
#orange-suit .cls-20 {
  stroke-miterlimit: 10;
}
#orange-suit .cls-11 {
  stroke: #000;
}
#orange-suit .cls-12 {
  stroke: #a5a3a3;
}
#orange-suit .cls-13,
#orange-suit .cls-16 {
  stroke: #bfbebe;
  stroke-width: 3px;
}
#orange-suit .cls-14 {
  clip-path: url(#clip-path);
}
#orange-suit .cls-15 {
  clip-path: url(#clip-path-2);
}
#orange-suit .cls-17 {
  fill: #616160;
}
#orange-suit .cls-18 {
  fill: url(#radial-gradient);
}
#orange-suit .cls-19 {
  stroke: #969596;
  stroke-width: 0.75px;
}
#orange-suit .cls-20 {
  stroke: #333;
}

#emu-space-suit {
  height: 100%;
  width: 100%;
}
#emu-space-suit .cls-1 {
  fill: #e41213;
}
#emu-space-suit .cls-2 {
  fill: #e8e8e8;
}
#emu-space-suit .cls-3 {
  fill: #f8f7f7;
}
#emu-space-suit .cls-4 {
  fill: #346fb6;
}
#emu-space-suit .cls-5 {
  fill: #fbf6e7;
}
#emu-space-suit .cls-6 {
  fill: #eaeaea;
}
#emu-space-suit .cls-7 {
  fill: #efefef;
}
#emu-space-suit .cls-8 {
  fill: #d7d7d7;
}
#emu-space-suit .cls-9 {
  fill: #1d1d1b;
}
#emu-space-suit .cls-10,
#emu-space-suit .cls-11,
#emu-space-suit .cls-12 {
  fill: none;
  stroke-miterlimit: 10;
}
#emu-space-suit .cls-10 {
  stroke: #d7d8d7;
}
#emu-space-suit .cls-11 {
  stroke: #000;
  opacity: 0.5;
}
#emu-space-suit .cls-12 {
  stroke: #a0a09f;
  stroke-width: 0.25px;
}
#emu-space-suit .cls-13 {
  fill: #a0a09f;
}
#emu-space-suit .cls-14 {
  fill: #a8a8aa;
}
#emu-space-suit .cls-15 {
  fill: #def0f9;
}
#emu-space-suit .cls-16 {
  fill: #cdac83;
}
#emu-space-suit .cls-17 {
  fill: #5a5a5a;
}
#emu-space-suit .cls-18 {
  fill: #fff;
}
#emu-space-suit .cls-19 {
  fill: #ccbdac;
}
#emu-space-suit .cls-20 {
  fill: url(#radial-gradient);
}
#emu-space-suit .cls-21 {
  fill: url(#radial-gradient-2);
}
#emu-space-suit .cls-22 {
  fill: url(#radial-gradient-3);
}
#emu-space-suit .cls-23 {
  fill: url(#radial-gradient-4);
}
#emu-space-suit .cls-24 {
  fill: url(#radial-gradient-5);
}
#emu-space-suit .cls-25 {
  fill: #d7d8d7;
}
#emu-space-suit .cls-26 {
  fill: #d8d8d8;
}
#emu-space-suit .cls-27 {
  opacity: 0.51;
}
#emu-space-suit .cls-28 {
  fill: #9e8455;
}

.friendship-mercury {
  height: 80%;
}
.friendship-mercury .cls-1 {
  fill: #bf6667;
  stroke: #787678;
}
.friendship-mercury .cls-1,
.friendship-mercury .cls-10,
.friendship-mercury .cls-19,
.friendship-mercury .cls-2,
.friendship-mercury .cls-20,
.friendship-mercury .cls-21,
.friendship-mercury .cls-22,
.friendship-mercury .cls-23,
.friendship-mercury .cls-24,
.friendship-mercury .cls-27,
.friendship-mercury .cls-28,
.friendship-mercury .cls-3,
.friendship-mercury .cls-4,
.friendship-mercury .cls-5,
.friendship-mercury .cls-9 {
  stroke-miterlimit: 10;
}
.friendship-mercury .cls-19,
.friendship-mercury .cls-2,
.friendship-mercury .cls-20,
.friendship-mercury .cls-21,
.friendship-mercury .cls-22,
.friendship-mercury .cls-23,
.friendship-mercury .cls-24,
.friendship-mercury .cls-27,
.friendship-mercury .cls-28,
.friendship-mercury .cls-3 {
  fill: none;
}
.friendship-mercury .cls-2 {
  stroke: #874948;
}
.friendship-mercury .cls-3 {
  stroke: #1d1d1b;
}
.friendship-mercury .cls-11,
.friendship-mercury .cls-4 {
  fill: #383c52;
}
.friendship-mercury .cls-4 {
  stroke: #454544;
}
.friendship-mercury .cls-5 {
  fill: #afb9bb;
  stroke: #616062;
}
.friendship-mercury .cls-6 {
  fill: #363635;
}
.friendship-mercury .cls-7 {
  fill: #2b2c2a;
}
.friendship-mercury .cls-8 {
  fill: #21211f;
}
.friendship-mercury .cls-9 {
  fill: #c4c9c5;
}
.friendship-mercury .cls-10,
.friendship-mercury .cls-9 {
  stroke: #939393;
}
.friendship-mercury .cls-10 {
  fill: #c4c7c5;
}
.friendship-mercury .cls-12 {
  fill: #2c2f40;
}
.friendship-mercury .cls-13 {
  fill: #cdd0cd;
}
.friendship-mercury .cls-14 {
  fill: #a3adaf;
}
.friendship-mercury .cls-15 {
  fill: #a3a3a3;
}
.friendship-mercury .cls-16 {
  fill: silver;
}
.friendship-mercury .cls-17 {
  fill: #97a1a2;
}
.friendship-mercury .cls-18 {
  fill: #874948;
}
.friendship-mercury .cls-19 {
  stroke: #363635;
}
.friendship-mercury .cls-20 {
  stroke: silver;
}
.friendship-mercury .cls-21,
.friendship-mercury .cls-24 {
  stroke: #a0aaab;
}
.friendship-mercury .cls-22 {
  stroke: #ca392e;
}
.friendship-mercury .cls-23 {
  stroke: #383c52;
}
.friendship-mercury .cls-24 {
  stroke-width: 0.5px;
}
.friendship-mercury .cls-25 {
  fill: #fff;
}
.friendship-mercury .cls-26 {
  fill: #1a1f55;
}
.friendship-mercury .cls-27 {
  stroke: #941914;
  stroke-width: 0.25px;
}
.friendship-mercury .cls-28 {
  stroke: #463a42;
}
.friendship-mercury .cls-29 {
  fill: #aad0bb;
}
.friendship-mercury .cls-30 {
  fill: #ccc;
}
.friendship-mercury .cls-31 {
  fill: #e3e3e3;
}

#apolo-11 {
  width: 100%;
  height: 100%;
}
#apolo-11 .cls-1 {
  fill: #b8b5a7;
  stroke: #504f4e;
}
#apolo-11 .cls-1,
#apolo-11 .cls-13,
#apolo-11 .cls-15 {
  stroke-miterlimit: 10;
}
#apolo-11 .cls-2 {
  fill: #1d1d1b;
}
#apolo-11 .cls-3 {
  fill: #58637c;
}
#apolo-11 .cls-4 {
  fill: #a19d9a;
}
#apolo-11 .cls-5 {
  fill: #bdbabd;
}
#apolo-11 .cls-6 {
  fill: #b5aca0;
}
#apolo-11 .cls-7 {
  fill: #cbbdab;
}
#apolo-11 .cls-8 {
  fill: #e6d2a3;
}
#apolo-11 .cls-9 {
  fill: #919199;
}
#apolo-11 .cls-10 {
  fill: #3e3e3d;
}
#apolo-11 .cls-11 {
  fill: #987f6b;
}
#apolo-11 .cls-12 {
  fill: #a8a599;
}
#apolo-11 .cls-13,
#apolo-11 .cls-15 {
  fill: none;
}
#apolo-11 .cls-13 {
  stroke: #873e1e;
  stroke-width: 0.75px;
}
#apolo-11 .cls-14 {
  fill: #d1b186;
}
#apolo-11 .cls-15 {
  stroke: #d1b186;
}
#apolo-11 .cls-16 {
  fill: #989491;
}
#apolo-11 .cls-17 {
  fill: #a9a5a2;
}
#apolo-11 .cls-18 {
  fill: #4a5368;
}
#apolo-11 .cls-19 {
  fill: #fff;
}
#apolo-11 .cls-20 {
  fill: #58627b;
}
#apolo-11 .cls-21 {
  fill: #bcad87;
}
#apolo-11 .cls-22 {
  fill: #2b2827;
}
#apolo-11 .cls-23 {
  fill: #615144;
}
#apolo-11 .cls-24 {
  fill: #2b2b2a;
}
#apolo-11 .cls-25 {
  fill: #e0e0e0;
}
#apolo-11 .cls-26 {
  fill: #474746;
}
#apolo-11 .cls-27 {
  fill: #c9caca;
}
#apolo-11 .cls-28 {
  fill: #aca8a5;
}
#apolo-11 .cls-29 {
  fill: #bfb5a9;
}
#apolo-11 .cls-30 {
  fill: #bfbbad;
}

#iss-missions {
  height: 100%;
  width: 100%;
}
#iss-missions .cls-1,
#iss-missions .cls-2 {
  fill: #515250;
}
#iss-missions .cls-1 {
  stroke: #686867;
}
#iss-missions .cls-1,
#iss-missions .cls-17,
#iss-missions .cls-18,
#iss-missions .cls-3,
#iss-missions .cls-4,
#iss-missions .cls-5,
#iss-missions .cls-6,
#iss-missions .cls-8 {
  stroke-miterlimit: 10;
}
#iss-missions .cls-17,
#iss-missions .cls-18,
#iss-missions .cls-3,
#iss-missions .cls-4 {
  fill: none;
}
#iss-missions .cls-3 {
  stroke: #701f0b;
}
#iss-missions .cls-4 {
  stroke: #72675d;
}
#iss-missions .cls-5 {
  fill: #892613;
  stroke: #555454;
}
#iss-missions .cls-6 {
  fill: #c5ccca;
  stroke: #6d6d6c;
}
#iss-missions .cls-7 {
  fill: #1d1d1b;
}
#iss-missions .cls-8 {
  fill: #cbc9c8;
  stroke: #5c5c5b;
}
#iss-missions .cls-9 {
  fill: #777776;
}
#iss-missions .cls-10 {
  fill: #601a05;
}
#iss-missions .cls-11 {
  fill: #4a4a49;
}
#iss-missions .cls-12 {
  fill: #b2b2b2;
}
#iss-missions .cls-13 {
  fill: #949494;
}
#iss-missions .cls-14 {
  fill: #8e8e8d;
}
#iss-missions .cls-15 {
  fill: #701f0b;
}
#iss-missions .cls-16 {
  fill: #aaaaa9;
}
#iss-missions .cls-17 {
  stroke: #892613;
}
#iss-missions .cls-18 {
  stroke: #aaaaa9;
  stroke-width: 4px;
}

#iss-missions-2 {
  height: 100%;
  width: 100%;
}
#iss-missions-2 .cls-1 {
  fill: #7b7c77;
}
#iss-missions-2 .cls-1,
#iss-missions-2 .cls-2,
#iss-missions-2 .cls-21,
#iss-missions-2 .cls-3,
#iss-missions-2 .cls-5 {
  stroke: #5f615c;
}
#iss-missions-2 .cls-1,
#iss-missions-2 .cls-11,
#iss-missions-2 .cls-12,
#iss-missions-2 .cls-13,
#iss-missions-2 .cls-14,
#iss-missions-2 .cls-15,
#iss-missions-2 .cls-2,
#iss-missions-2 .cls-21,
#iss-missions-2 .cls-22,
#iss-missions-2 .cls-26,
#iss-missions-2 .cls-3,
#iss-missions-2 .cls-4,
#iss-missions-2 .cls-5,
#iss-missions-2 .cls-7 {
  stroke-miterlimit: 10;
}
#iss-missions-2 .cls-2 {
  fill: #424340;
}
#iss-missions-2 .cls-22,
#iss-missions-2 .cls-3,
#iss-missions-2 .cls-7,
#iss-missions-2 .cls-9 {
  fill: #fff;
}
#iss-missions-2 .cls-12,
#iss-missions-2 .cls-13,
#iss-missions-2 .cls-14,
#iss-missions-2 .cls-15,
#iss-missions-2 .cls-26,
#iss-missions-2 .cls-4 {
  fill: none;
}
#iss-missions-2 .cls-4 {
  stroke: #6f6c6d;
}
#iss-missions-2 .cls-5 {
  fill: #60625e;
}
#iss-missions-2 .cls-21,
#iss-missions-2 .cls-6 {
  fill: #1d1d1b;
}
#iss-missions-2 .cls-7 {
  stroke: #1d1d1b;
}
#iss-missions-2 .cls-8 {
  fill: #4a4a49;
}
#iss-missions-2 .cls-10 {
  fill: #898b85;
}
#iss-missions-2 .cls-11 {
  fill: #696a66;
  stroke: #5c5d59;
}
#iss-missions-2 .cls-12 {
  stroke: #5a5c57;
}
#iss-missions-2 .cls-13 {
  stroke: #696a65;
}
#iss-missions-2 .cls-14 {
  stroke: #3d3d3d;
}
#iss-missions-2 .cls-14,
#iss-missions-2 .cls-15 {
  stroke-width: 0.25px;
}
#iss-missions-2 .cls-15 {
  stroke: #5b5b5c;
}
#iss-missions-2 .cls-16 {
  fill: #3d3d3d;
}
#iss-missions-2 .cls-17 {
  fill: #c6c6c6;
}
#iss-missions-2 .cls-18 {
  fill: #21211f;
}
#iss-missions-2 .cls-19 {
  fill: #5f615c;
}
#iss-missions-2 .cls-20 {
  opacity: 0.22;
}
#iss-missions-2 .cls-22 {
  stroke: #91948d;
}
#iss-missions-2 .cls-23 {
  fill: #ccc;
}
#iss-missions-2 .cls-24 {
  fill: #e8e8e6;
}
#iss-missions-2 .cls-25 {
  opacity: 0.14;
}
#iss-missions-2 .cls-26 {
  stroke: #383c52;
}

/*# sourceMappingURL=style.css.map */
