@keyframes slide-in-br {
  0% {
    transform: translateY(1000px) translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    visibility: hidden;
  }
  100% {
    transform: translateX(0);
    visibility: visible;
  }
}
@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
main {
  padding: 10vh 0;
  overflow: inherit;
  height: auto;
}

#container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: center;
  width: 100vw;
  margin: 0 auto;
  height: 80vh;
}
#container section {
  align-self: center;
}

.visible {
  display: flex;
}

.not-visible {
  display: none;
}

.control-left {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 50%;
  margin-top: 3vw;
}

.back-arrow {
  clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
  background-color: #D6A1A1;
  height: 1.5vw;
  width: 3vw;
}
.back-arrow:hover {
  background-color: #bb6611;
}

.right-arrow {
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  background-color: #D6A1A1;
  height: 1.5vw;
  width: 3vw;
  align-self: center;
}
.right-arrow:hover {
  background-color: #bb6611;
}

#forward {
  align-self: center;
}

.left-arrow {
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  background-color: #D6A1A1;
  height: 1.5vw;
  width: 3vw;
}
.left-arrow:hover {
  background-color: #bb6611;
}

.card-suit {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-between;
  height: 38vw;
  width: 21vw;
  background: url("../../../assets/space-card-background.png");
  background-size: cover;
  border: 5px solid #FFEEDD;
  border-radius: 3vw;
  box-sizing: border-box;
  align-self: center;
  animation: slide-in-br 1.5s 1;
}

.card-botton {
  background-color: #FFEEDD;
  border-radius: 2vw;
  width: 100%;
}
.card-botton h3 {
  text-align: center;
  font-weight: 900;
}

@media screen and (max-width: 960px) {
  .card-botton h3 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 780px) {
  .card-botton h3 {
    font-size: 0.7rem;
  }
}
#card-left {
  animation: slide-in-br 1.5s 1;
}

svg {
  pointer-events: all;
}

.svg-container {
  width: 100%;
  height: 80%;
  position: relative;
}
.svg-container .mercury-space-suit {
  width: 80%;
  margin-left: 10%;
  position: absolute;
}
.svg-container .mercury-space-suit .cls-1 {
  fill: #e5e4e4;
}
.svg-container .mercury-space-suit .cls-2 {
  fill: #1d1d1b;
}
.svg-container .mercury-space-suit .cls-3 {
  fill: #d7d7d7;
}
.svg-container .mercury-space-suit .cls-4 {
  fill: #788d8e;
}
.svg-container .mercury-space-suit .cls-5 {
  fill: #d4ebed;
}
.svg-container .mercury-space-suit .cls-6 {
  fill: #afafaf;
}
.svg-container .mercury-space-suit .cls-7 {
  fill: #908f90;
}
.svg-container .mercury-space-suit .cls-8 {
  fill: #eab957;
}
.svg-container .mercury-space-suit .cls-9 {
  fill: #c4c4c4;
}
.svg-container .mercury-space-suit .cls-10 {
  fill: #8e4922;
}
.svg-container .mercury-space-suit .cls-11 {
  fill: #472515;
}
.svg-container .mercury-space-suit .cls-12 {
  fill: #a9a9a9;
}
.svg-container .mercury-space-suit .cls-13 {
  fill: #7f7f80;
}
.svg-container .mercury-space-suit .cls-14 {
  fill: #5a92ce;
}
.svg-container .mercury-space-suit .cls-15 {
  fill: #c0e3e7;
}
.svg-container .mercury-space-suit .cls-16 {
  fill: #1955a0;
}
.svg-container .mercury-space-suit .cls-17 {
  fill: #a58a5a;
}
.svg-container .mercury-space-suit .cls-18 {
  fill: #bcbcbb;
}
.svg-container .mercury-space-suit .cls-19 {
  fill: #444;
}
.svg-container .mercury-space-suit .cls-20 {
  fill: #777776;
}
.svg-container .mercury-space-suit .cls-21 {
  fill: #727272;
}
.svg-container .mercury-space-suit .cls-22 {
  fill: #b88e46;
}
.svg-container .mercury-space-suit .cls-23 {
  fill: #7c7c7c;
}
.svg-container .mercury-space-suit .cls-24 {
  fill: #8b8b8c;
}
.svg-container .mercury-space-suit .cls-25 {
  fill: #b7b7b7;
}
.svg-container .mercury-space-suit .cls-26 {
  fill: #717070;
}
.svg-container .mercury-space-suit .cls-27 {
  fill: #c2c1c1;
}
.svg-container .mercury-space-suit .cls-28 {
  fill: #c69152;
}
.svg-container .mercury-space-suit .cls-29 {
  fill: #806036;
}
.svg-container .mercury-space-suit .cls-30 {
  fill: #888989;
}
.svg-container .mercury-space-suit .cls-31 {
  fill: #16355a;
}
.svg-container .mercury-space-suit .cls-32 {
  fill: #765922;
}
.svg-container .mercury-space-suit .cls-33 {
  fill: #c5a470;
}
.svg-container .mercury-space-suit .cls-34 {
  fill: #e5211c;
}
.svg-container .mercury-space-suit .cls-35 {
  fill: #413118;
}
.svg-container .mercury-space-suit .cls-36 {
  fill: #999;
}
.svg-container .mercury-space-suit .cls-37 {
  fill: #bababa;
}
.svg-container .mercury-space-suit .cls-38 {
  fill: #9c9b9b;
}
.svg-container .mercury-space-suit .cls-39 {
  fill: #676766;
}
.svg-container .mercury-space-suit .cls-40,
.svg-container .mercury-space-suit .cls-41,
.svg-container .mercury-space-suit .cls-42,
.svg-container .mercury-space-suit .cls-43,
.svg-container .mercury-space-suit .cls-44,
.svg-container .mercury-space-suit .cls-48,
.svg-container .mercury-space-suit .cls-49,
.svg-container .mercury-space-suit .cls-51 {
  fill: none;
}
.svg-container .mercury-space-suit .cls-40 {
  stroke: #7f7f80;
}
.svg-container .mercury-space-suit .cls-40,
.svg-container .mercury-space-suit .cls-41,
.svg-container .mercury-space-suit .cls-43,
.svg-container .mercury-space-suit .cls-44,
.svg-container .mercury-space-suit .cls-49,
.svg-container .mercury-space-suit .cls-51 {
  stroke-miterlimit: 10;
}
.svg-container .mercury-space-suit .cls-40,
.svg-container .mercury-space-suit .cls-41,
.svg-container .mercury-space-suit .cls-42,
.svg-container .mercury-space-suit .cls-43,
.svg-container .mercury-space-suit .cls-44 {
  stroke-width: 0.5px;
}
.svg-container .mercury-space-suit .cls-41 {
  stroke: #1d1d1b;
}
.svg-container .mercury-space-suit .cls-42 {
  stroke: #717070;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.svg-container .mercury-space-suit .cls-43 {
  stroke: #a8a7a7;
}
.svg-container .mercury-space-suit .cls-44 {
  stroke: #727272;
}
.svg-container .mercury-space-suit .cls-45 {
  fill: #bfbebe;
}
.svg-container .mercury-space-suit .cls-46 {
  fill: #3ebfee;
  opacity: 0.33;
}
.svg-container .mercury-space-suit .cls-47,
.svg-container .mercury-space-suit .cls-49 {
  opacity: 0.15;
}
.svg-container .mercury-space-suit .cls-49 {
  stroke: #000;
}
.svg-container .mercury-space-suit .cls-50 {
  fill: #fff;
}
.svg-container .mercury-space-suit .cls-51 {
  stroke: #9c9b9b;
}
.svg-container .mercury-space-suit .cls-52 {
  opacity: 0.59;
  fill: url(#radial-gradient);
}

#card-right {
  animation: slide-in-right 3s 1;
}

.svg-container-parts {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.svg-container-parts .part-container {
  width: 40%;
  margin-top: 10%;
}
.svg-container-parts .helmet-icon .cls-1 {
  fill: #7c7c7c;
}
.svg-container-parts .helmet-icon .cls-2 {
  fill: #c69152;
}
.svg-container-parts .helmet-icon .cls-3 {
  fill: #777776;
}
.svg-container-parts .helmet-icon .cls-4 {
  fill: #d7d7d7;
}
.svg-container-parts .helmet-icon .cls-5 {
  fill: #c0e3e7;
}
.svg-container-parts .helmet-icon .cls-6 {
  fill: #806036;
}
.svg-container-parts .helmet-icon .cls-7 {
  fill: #888989;
}
.svg-container-parts .helmet-icon .cls-8 {
  fill: #bfbebe;
}
.svg-container-parts .helmet-icon .cls-9 {
  fill: #717070;
}
.svg-container-parts .helmet-icon .cls-10 {
  fill: #3ebfee;
  opacity: 0.33;
}
.svg-container-parts .helmet-icon .cls-11 {
  opacity: 0.59;
  fill: url(#radial-gradient);
}
.svg-container-parts .name {
  width: 100%;
}
.svg-container-parts .name h3 {
  color: #FFEEDD;
  text-align: center;
  text-transform: uppercase;
}
.svg-container-parts .text-container {
  width: 90%;
  margin: 2% auto;
  border: 1px solid #D6A1A1;
  border-radius: 1vw;
  overflow: hidden;
}
.svg-container-parts .text-container h4 {
  color: #FFEEDD;
  font-size: 1.5vw;
  margin: 0.3vw;
  text-decoration: underline;
}
.svg-container-parts .text-container p {
  color: #FFEEDD;
  text-align: left;
  padding: 0.2vw;
  margin: 0.3vw;
  font-size: 1.3vw;
}

.gloves-icon {
  transform: rotate(90deg);
  margin-top: -7vh;
}
.gloves-icon .cls-1 {
  fill: #908f90;
}
.gloves-icon .cls-2 {
  fill: #d7d7d7;
}
.gloves-icon .cls-3 {
  fill: #afafaf;
}
.gloves-icon .cls-4 {
  fill: #c4c4c4;
}
.gloves-icon .cls-5,
.gloves-icon .cls-7 {
  opacity: 0.15;
}
.gloves-icon .cls-6,
.gloves-icon .cls-7 {
  fill: none;
}
.gloves-icon .cls-7 {
  stroke: #000;
  stroke-miterlimit: 10;
}
.gloves-icon .cls-8 {
  fill: #8b8b8c;
}

.boots-icon {
  height: 5vw;
}
.boots-icon .cls-1 {
  fill: #eab957;
}
.boots-icon .cls-2 {
  fill: #a9a9a9;
}
.boots-icon .cls-3 {
  fill: #7f7f80;
}
.boots-icon .cls-4 {
  fill: #8e4922;
}
.boots-icon .cls-5 {
  fill: #472515;
}
.boots-icon .cls-6 {
  opacity: 0.15;
}
.boots-icon .cls-7 {
  fill: none;
}
.boots-icon .cls-8 {
  fill: #8b8b8c;
}

.tank-icon .cls-1 {
  fill: #e5e4e4;
}
.tank-icon .cls-2 {
  fill: #1d1d1b;
}
.tank-icon .cls-3 {
  fill: #d7d7d7;
}
.tank-icon .cls-4 {
  fill: #788d8e;
}

.container-visible-text {
  text-align: left;
  width: 90%;
  margin: 2% auto;
  border: 1px solid #D6A1A1;
  border-radius: 1vw;
  overflow: hidden;
}
.container-visible-text p {
  color: #FFEEDD;
  text-align: left;
  padding: 0.2vw;
  margin: 0.3vw;
  font-size: 1.3vw;
}
.container-visible-text p span {
  font-weight: 900;
  font-size: 1.5vw;
}

@media screen and (max-width: 960px) {
  .container-visible-text {
    height: auto;
  }
  .container-visible-text p {
    font-size: 1vw;
  }
  .container-visible-text span {
    font-size: 1.1vw;
  }

  .name h3 {
    font-size: 1rem;
    margin: 0.5vw;
  }

  .svg-container-parts {
    justify-content: flex-start;
  }
}
#text-suit,
.back-arrow,
.left-arrow,
.right-arrow {
  animation: text-focus-in 4s 1;
}

#text-suit {
  color: #FFEEDD;
  width: 15vw;
}

/*# sourceMappingURL=style.css.map */
