.friendship-mercury {
  .cls-1 {
    fill: #bf6667;
    stroke: #787678;
  }

  .cls-1,
  .cls-10,
  .cls-19,
  .cls-2,
  .cls-20,
  .cls-21,
  .cls-22,
  .cls-23,
  .cls-24,
  .cls-27,
  .cls-28,
  .cls-3,
  .cls-4,
  .cls-5,
  .cls-9 {
    stroke-miterlimit: 10;
  }

  .cls-19,
  .cls-2,
  .cls-20,
  .cls-21,
  .cls-22,
  .cls-23,
  .cls-24,
  .cls-27,
  .cls-28,
  .cls-3 {
    fill: none;
  }

  .cls-2 {
    stroke: #874948;
  }

  .cls-3 {
    stroke: #1d1d1b;
  }

  .cls-11,
  .cls-4 {
    fill: #383c52;
  }

  .cls-4 {
    stroke: #454544;
  }

  .cls-5 {
    fill: #afb9bb;
    stroke: #616062;
  }

  .cls-6 {
    fill: #363635;
  }

  .cls-7 {
    fill: #2b2c2a;
  }

  .cls-8 {
    fill: #21211f;
  }

  .cls-9 {
    fill: #c4c9c5;
  }

  .cls-10,
  .cls-9 {
    stroke: #939393;
  }

  .cls-10 {
    fill: #c4c7c5;
  }

  .cls-12 {
    fill: #2c2f40;
  }

  .cls-13 {
    fill: #cdd0cd;
  }

  .cls-14 {
    fill: #a3adaf;
  }

  .cls-15 {
    fill: #a3a3a3;
  }

  .cls-16 {
    fill: silver;
  }

  .cls-17 {
    fill: #97a1a2;
  }

  .cls-18 {
    fill: #874948;
  }

  .cls-19 {
    stroke: #363635;
  }

  .cls-20 {
    stroke: silver;
  }

  .cls-21,
  .cls-24 {
    stroke: #a0aaab;
  }

  .cls-22 {
    stroke: #ca392e;
  }

  .cls-23 {
    stroke: #383c52;
  }

  .cls-24 {
    stroke-width: 0.5px;
  }

  .cls-25 {
    fill: #fff;
  }

  .cls-26 {
    fill: #1a1f55;
  }

  .cls-27 {
    stroke: #941914;
    stroke-width: 0.25px;
  }

  .cls-28 {
    stroke: #463a42;
  }

  .cls-29 {
    fill: #aad0bb;
  }

  .cls-30 {
    fill: #ccc;
  }

  .cls-31 {
    fill: #e3e3e3;
  }
}
