@import "../../../mixins";

main {
  @include flex(column, nowrap, space-around, center, center);
  overflow: initial;
  padding: 15vh 0;
  height: auto;
  z-index: 0;

  #top-meet {
    width: 100vw;

    .icon {
      margin: 2vh auto;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;

      .meet-icon {
        height: 10vh;
        margin: 0 auto;

        .cls-1 {
          fill: none;
        }

        .cls-1,
        .cls-2 {
          stroke: #ffeede;
          stroke-linecap: round;
          stroke-miterlimit: 10;
          stroke-width: 2px;
        }

        .cls-2 {
          fill: #ffeede;
        }
      }
    }

    h1 {
      font-size: $large;
      font-weight: 200;
      text-align: center;
      color: $card-border;
      width: 90%;
      margin: 0 auto;
    }
  }

  .ornament {
    border: 1px solid $card-border;
    width: 70vw;
    margin: 0 auto;
    margin-top: 5vh;
  }
}

#bottom-meet {
  @include flex(row, nowrap, space-around, flex-start, flex-start);
  margin-top: 10vh;

  iframe {
    width: 50vw;
    height: 30vw;
    margin: 0 2vw 1vw 0;
  }

  #info-meet {
    @include flex(column, nowrap, space-between, center, center);
    height: 30vw;

    h4 {
      margin-top: 1vh;
      font-weight: bold;
      font-size: 0.8rem;
      color: $card-border;
    }

    p {
      font-size: 0.7rem;
      text-align: center;
      color: $card-border;
      line-height: 0.9rem;
    }

    #schedule-meet {
      width: 100%;
    }

    #phone-meet {
      width: 100%;
    }
  }
}

@media screen and (max-width: 760px) {
  main {
    padding-top: 5vw;
    height: auto;
    overflow: initial;

    #top-meet {
      h1 {
        font-size: 2rem;
      }
    }
    #bottom-meet {
      position: relative;
      padding-bottom: 10vw;
      #address-meet {
        position: absolute;
        left: 0;
        bottom: 0;
        p {
          margin-bottom: 0;
        }
      }
      #phone-meet{

          position: absolute;
          bottom: 0;

          p {
            margin-bottom: 0;
          }

        }
    }
  }
}
@media screen and (max-width: 576px) {
  main {
    #bottom-meet {
      padding-bottom: 12vw;

      #info-meet {
        #address-meet {
          position: absolute;
          left: 0;
          bottom: 0;

          p {
            line-height: 0.6;
            margin: 3px;
          }
        }

        #schedule-meet {
          p {
            line-height: 0.6;
          }
        }

        #phone-meet{

          position: absolute;
          bottom: 0;

          p {
            margin-bottom: 0;
          }

        }
      }
    }
  }
}


@media screen and (max-width: 470px) {
  main {
    #bottom-meet {
      padding-bottom: 20vw;

      #info-meet {
        #address-meet,  #phone-meet {

          width: 45vw;

          p{
            line-height: 1.3em;
          }
        }
      }
    }

  }
}
