@keyframes slide-in-br {
  0% {
    transform: translateY(1000px) translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    visibility: hidden;
  }
  100% {
    transform: translateX(0);
    visibility: visible;
  }
}
@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
main {
  z-index: 2;
  overflow: hidden;
  height: auto;
}

#container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 100vw;
  margin: 0 auto;
  height: 80vh;
  position: relative;
}
#container #erik-right {
  width: 35vw;
  position: absolute;
}
#container #erik-right #erik-right-text {
  position: absolute;
  top: 1vw;
  right: 1vw;
  width: 50%;
  font-size: 1.1vw;
}
#container #erik-right svg .cls-1,
#container #erik-right svg .cls-5 {
  fill: #fff;
}
#container #erik-right svg .cls-1,
#container #erik-right svg .cls-2,
#container #erik-right svg .cls-3,
#container #erik-right svg .cls-4 {
  stroke: #000;
}
#container #erik-right svg .cls-1,
#container #erik-right svg .cls-2,
#container #erik-right svg .cls-3,
#container #erik-right svg .cls-4,
#container #erik-right svg .cls-5 {
  stroke-miterlimit: 10;
  stroke-width: 2px;
}
#container #erik-right svg .cls-2 {
  fill: #b7b7b7;
}
#container #erik-right svg .cls-3 {
  fill: none;
}
#container #erik-right svg .cls-4 {
  fill: #e52722;
}
#container #erik-right svg .cls-5 {
  stroke: #feeddd;
}
#container h2 {
  margin-top: 0;
  color: #FFEEDD;
}
#container article {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-end;
  align-content: flex-end;
  margin-bottom: -18%;
  width: 100%;
  height: 80%;
  box-sizing: border-box;
}
#container article a {
  text-decoration: none;
  color: #112242;
}
#container article a:hover {
  color: #112242;
}

.card {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-between;
  background-color: #D6A1A1;
  border: 5px solid #FFEEDD;
  border-radius: 3vw;
  padding: 1vw;
  box-sizing: border-box;
  height: 32vw;
  width: 18vw;
  box-sizing: border-box;
}
.card img {
  width: 70%;
  align-self: center;
}
.card .acronims {
  padding: 0;
  height: 30%;
}
.card .acronims p {
  margin: 0.3vw;
  font-size: 1.5vw;
}

@media screen and (min-width: 760px) {
  #erik-right {
    left: 2vw;
  }
}
@media screen and (max-width: 960px) {
  .card {
    height: 34vw;
    width: 20.5vw;
  }
}
@media screen and (max-width: 760px) {
  .card {
    height: 38vw;
    width: 22.9vw;
  }

  #erik-right {
    top: 15vw;
  }

  #container article {
    height: 80%;
  }
}
@media screen and (max-width: 660px) {
  .card {
    height: 40vw;
    width: 24.1vw;
  }

  #container #erik-right {
    width: 40vw;
    top: 18vw;
  }
  #container #erik-right #erik-right-text {
    font-size: 1.35vw;
  }
}
@media screen and (max-width: 576px) {
  #container #erik-right {
    top: 24vw;
    width: 60vw;
  }
  #container #erik-right #erik-right-text {
    font-size: 1.8vw;
  }
}
.top-left {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  align-self: flex-start;
}

.bottom-right {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
  align-self: flex-end;
}

#card-one {
  transform: rotatez(-10deg);
  margin-bottom: -4%;
  transition: all ease-in-out 0.3s;
}
#card-one:hover {
  margin-bottom: 0;
  margin-top: -2%;
}

#card-two {
  transform: rotatez(-4deg);
  margin-bottom: -2%;
  margin-left: -2%;
  transition: all ease-in-out 0.3s;
}
#card-two:hover {
  margin-bottom: 0;
  margin-top: -15px;
}

#card-three {
  transform: rotatez(4deg);
  margin-bottom: -2%;
  margin-left: -2%;
  transition: all ease-in-out 0.3s;
}
#card-three:hover {
  margin-bottom: 0;
  margin-top: -15px;
}

#card-four {
  transform: rotatez(10deg);
  margin-bottom: -4%;
  margin-left: -4%;
  transition: all ease-in-out 0.3s;
}
#card-four:hover {
  margin-bottom: 0;
  margin-top: -2%;
}

/*# sourceMappingURL=style.css.map */
